MyWebSite1/App_WebReferences/ServiceReference1/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WsHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wslkcmp2ftr2-12/MyFirstWcfSevice/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wslkcmp2ftr2-12/MyFirstWcfSevice/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wslkcmp2ftr2-12/MyFirstWcfSevice/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetServiceProvider_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceProvider" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetServiceProvider_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetHra_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHra" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetHra_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHraResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetServiceProvider">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetServiceProvider" message="tns:IEmployeeService_GetServiceProvider_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetServiceProviderResponse" message="tns:IEmployeeService_GetServiceProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHra">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetHra" message="tns:IEmployeeService_GetHra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetHraResponse" message="tns:IEmployeeService_GetHra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Save" message="tns:IEmployeeService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SaveResponse" message="tns:IEmployeeService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/Get" message="tns:IEmployeeService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetResponse" message="tns:IEmployeeService_Get_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsHttpEndpoint" type="tns:IEmployeeService">
    <wsp:PolicyReference URI="#WsHttpEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/GetServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHra">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/GetHra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IEmployeeService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="WsHttpEndpoint" binding="tns:WsHttpEndpoint">
      <soap12:address location="http://wslkcmp2ftr2-12/MyFirstWcfSevice/EmployeeService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://wslkcmp2ftr2-12/MyFirstWcfSevice/EmployeeService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>